<nav class="navbar navbar-dark bg-dark justify-content-between wbdv-navbar">
  <h3 class="navbar-brand">Admin</h3>
  <form class="form-inline">
    <a routerLink="/profile">
      <button class="btn btn-outline-light my-2 my-sm-0"
              type="button">
        Profile
      </button>
    </a>
    <a routerLink="/home">
      <button class="btn btn-outline-light my-2 my-sm-0"
              type="button">
        Home
      </button>
    </a>
  </form>
</nav>

<div class="container-fluid wbdv-profile">
  <div class="wbdv-nav">
    <nav class="nav nav-pills nav-justified">
      <div class="nav-item nav-link"
           [ngClass]="{active: selection === 'Manage Users'}"
           (click)="changeSelection('Manage Users')">
        Manage Users
      </div>
      <div class="nav-item nav-link"
           [ngClass]="{active: selection === 'Manage Recipes'}"
           (click)="changeSelection('Manage Recipes')">
        Manage Recipes
      </div>
    </nav>
  </div>

  <div class="wbdv-selection row"
       *ngIf="selection === 'Manage Users'">

    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title"
            *ngIf="!newRecipe._id">
          Create a user
        </h4>
        <h4 class="modal-title"
            *ngIf="newRecipe._id">
          Update a user
        </h4>
        <button type="button"
                class="close"
                aria-label="Close"
                (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Username</label>
          <input [(ngModel)]="newUser.username"
                 placeholder="username"
                 class="form-control"/>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input [(ngModel)]="newUser.password"
                 placeholder="password"
                 type="password"
                 class="form-control"/>
        </div>

        <div class="form-group">
          <label>First Name</label>
          <input [(ngModel)]="newUser.firstName"
                 placeholder="first name"
                 class="form-control"/>
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <input [(ngModel)]="newUser.lastName"
                 placeholder="last name"
                 class="form-control"/>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input [(ngModel)]="newUser.email"
                 placeholder="email address"
                 class="form-control"/>
        </div>

        <div class="form-group">
          <label>Role</label>
          <select [(ngModel)]="newUser.role"
                  class="form-control">
            <option value="" disabled selected>What do you want to be?</option>
            <option value="Customer">Customer</option>
            <option value="Chef">Chef</option>
            <option value="Critic">Critic</option>
          </select>
        </div>

        <button (click)="createUser()"
                *ngIf="!newRecipe._id"
                class="btn btn-dark btn-block">
          Add
        </button>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-light"
                (click)="c('Close click')">
          Close
        </button>
      </div>
    </ng-template>

    <button class="btn btn-dark btn-block mb-2 mr-2"
            (click)="openAddUserModal(content)">
      Add a user
    </button>

    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item wbdv-users-heading">Chefs</li>
        <li *ngFor="let chef of chefs"
            (click)="navigateToProfile(chef.username)"
            class="list-group-item wbdv-user">
          {{chef.username}}
          <button class="btn btn-danger fa fa-trash float-right"
                  (click)="deleteUser(chef)">
          </button>
        </li>
      </ul>
    </div>

    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item wbdv-users-heading">Critics</li>
        <li *ngFor="let critic of critics"
            (click)="navigateToProfile(critic.username)"
            class="list-group-item wbdv-user">
          {{critic.username}}
          <button class="btn btn-danger fa fa-trash float-right"
                  (click)="deleteUser(critic)">
          </button>
        </li>
      </ul>
    </div>

    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item wbdv-users-heading">Customers</li>
        <li *ngFor="let customer of customers"
            (click)="navigateToProfile(customer.username)"
            class="list-group-item wbdv-user">
          {{customer.username}}
          <button class="btn btn-danger fa fa-trash float-right"
                  (click)="deleteUser(customer)">
          </button>
        </li>
      </ul>
    </div>

  </div>

  <div class="wbdv-selection row"
       *ngIf="selection === 'Manage Recipes'">

    <div class="col-6">
      <ul class="list-group">
        <li class="list-group-item wbdv-users-heading">Chef's Special</li>
        <li *ngFor="let chefSpecial of chefSpecials"
            (click)="navigateToRecipe(chefSpecial)"
            class="list-group-item wbdv-recipe">
          {{chefSpecial.name}}
        </li>
      </ul>
    </div>

    <div class="col-6">
    <ul class="list-group">
      <li class="list-group-item wbdv-users-heading">Yummly's Special</li>
      <li *ngFor="let yummlySpecial of yummlySpecials"
          (click)="navigateToRecipe(yummlySpecial)"
          class="list-group-item wbdv-recipe">
        {{yummlySpecial.name}}
      </li>
    </ul>
  </div>
  </div>
</div>
