<nav class="navbar navbar-dark bg-dark justify-content-between wbdv-navbar">
  <h3 class="navbar-brand">Admin</h3>
  <form class="form-inline">
    <a routerLink="/profile">
      <button class="btn btn-outline-light my-2 my-sm-0"
              type="button">
        Profile
      </button>
    </a>
    <a routerLink="/home">
      <button class="btn btn-outline-light my-2 my-sm-0"
              type="button">
        Home
      </button>
    </a>
  </form>
</nav>

<div class="container-fluid wbdv-profile">
  <div class="wbdv-nav">
    <nav class="nav nav-pills nav-justified">
      <div class="nav-item nav-link"
           [ngClass]="{active: selection === 'Manage Users'}"
           (click)="changeSelection('Manage Users')">
        Manage Users
      </div>
      <div class="nav-item nav-link"
           [ngClass]="{active: selection === 'Manage Recipes'}"
           (click)="changeSelection('Manage Recipes')">
        Manage Recipes
      </div>
    </nav>
  </div>

  <div class="wbdv-selection row"
       *ngIf="selection === 'Manage Users'">

    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item wbdv-users-heading">Chefs</li>
        <li *ngFor="let chef of chefs"
            (click)="navigateToProfile(chef.username)"
            class="list-group-item wbdv-user">
          {{chef.username}}
        </li>
      </ul>
    </div>

    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item wbdv-users-heading">Critics</li>
        <li *ngFor="let critic of critics"
            (click)="navigateToProfile(critic.username)"
            class="list-group-item wbdv-user">
          {{critic.username}}
        </li>
      </ul>
    </div>

    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item wbdv-users-heading">Customers</li>
        <li *ngFor="let customer of customers"
            (click)="navigateToProfile(customer.username)"
            class="list-group-item wbdv-user">
          {{customer.username}}
        </li>
      </ul>
    </div>

  </div>

  <div class="wbdv-selection row"
       *ngIf="selection === 'Manage Recipes'">

    <div class="col-6">
      <ul class="list-group">
        <li class="list-group-item wbdv-users-heading">Chef's Special</li>
        <li *ngFor="let chefSpecial of chefSpecials"
            class="list-group-item wbdv-user">
          {{chefSpecial.name}}
        </li>
      </ul>
    </div>

    <div class="col-6">
    <ul class="list-group">
      <li class="list-group-item wbdv-users-heading">Yummly's Special</li>
      <li *ngFor="let yummlySpecial of yummlySpecials"
          class="list-group-item wbdv-user">
        {{yummlySpecial.name}}
      </li>
    </ul>
  </div>

</div>
