.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.wbdv-navbar .navbar-brand {
  cursor: pointer;
}

.btn.btn-outline-light {
  margin-left: 5px;
}

.row {
  width: 100%;
}

/*.row.wbdv-navbar {*/
  /*margin-right: 0px;*/
/*}*/


a.wbdv-username-anchor{
  color: white;
}

.col-3.wbdv-login-register {
  padding-right: 0px;
}
.col-11.wbdv-search-input {
  padding-right: 0px;
}

