.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.wbdv-search-button {
  margin-left: 5px;
}

.paddingDiv:focus {
  outline: 0;
}

.btn {
  margin-left: 5px;
}

.row {
  width: 100%;
}

.form-control.mr-sm-2 {
  width:40%;
}
