<app-search-bar></app-search-bar>

<div class="container">
  <div class="row">
    <div class="col-6">
      <img alt="Image not available"
           *ngIf="recipeDetails['imageUrl']"
           src="{{recipeDetails['imageUrl']}}">
    </div>
    <div class="col-6">
      <h1>
        {{recipeDetails['name']}}
      </h1>
      <h2>Course: {{recipeDetails['course']}}</h2>
      <h2>Rating: {{recipeDetails['yummlyRating']}}</h2>
    </div>
  </div>

  <div class="wbdv-recipe-summary">
      <div class="wbdv-recipe-summary-item">
        <span class="value">{{ingredientsCount}}</span>
        <label>Ingredients</label>
      </div>
      <div class="wbdv-recipe-summary-item nutrition" *ngIf="recipeDetails['numberOfServings']">
        <span class="value">{{recipeDetails['numberOfServings']}}</span>
        <label>Servings</label>
      </div>
      <div class="wbdv-recipe-summary-item">
        <span class="value">{{totalTime}}</span>
        <label>{{totalTimeUnit}}</label>
      </div>
  </div>

  <ul class="list-group wbdv-recipe">
    <li class="list-group-item wbdv-ingredients-heading">Ingredients</li>
    <li *ngFor="let ingredient of recipeDetails['ingredients']"
        class="list-group-item">
      {{ingredient}}
    </li>
  </ul>
  <button class="btn btn-primary"
          *ngIf="!(this.currentUser.username) || !isLiked()"
          (click)="like()">
    Like
  </button>
  <button class="btn btn-primary"
          *ngIf="isLiked()"
          (click)="unlike()">
    Unlike
  </button>

  <input class="form-control"
         placeholder = "Rating from 1-5"
         [(ngModel)]="rating">
  <input class="form-control"
         *ngIf="currentUser.role === 'Critic'"
         placeholder = "Critic's Review"
         [(ngModel)]="criticReview">
  <button (click)="rate(rating,criticReview)"
          class="btn btn-success">
    Rate
  </button>

  <h2>
    Ratings
  </h2>

  <ul class="list-group wbdv-recipe">
    <li *ngFor="let ratedUser of ratedUsers"
        class="list-group-item">
      <a routerLink="/profile/{{ratedUser.user.username}}">{{ratedUser.user.username}}</a>
      <span> {{ratedUser.rating}}</span>
    </li>
  </ul>

  <h2>
    Critic's Reviews
  </h2>

  <ul class="list-group wbdv-recipe">
    <li *ngFor="let reviewedUser of reviewedUsers"
        class="list-group-item">
      <a routerLink="/profile/{{reviewedUser.user.username}}">{{reviewedUser.user.username}}</a>
      <span> {{reviewedUser.rating}}</span>
      <span> {{reviewedUser.review}}</span>
    </li>
  </ul>
</div>
