<app-search-bar></app-search-bar>

<div class="container">
  <div class="row">
    <div class="col-6">
      <img alt="Image not available"
           *ngIf="recipeDetails['imageUrl'] != ''"
           src="{{recipeDetails['imageUrl']}}">
    </div>
    <div class="col-6">
      <h1>
        {{recipeDetails['name']}}
      </h1>
      <h2>Yield: {{recipeDetails['yield']}}</h2>
      <h2>Total time: {{recipeDetails['totalTime']}}</h2>
      <h2>Number of servings: {{recipeDetails['numberOfServings']}}</h2>
      <h2>Course: {{recipeDetails['course']}}</h2>
      <h2>Rating: {{recipeDetails['yummlyRating']}}</h2>

    </div>
  </div>

  <div class="wbdv-recipe-summary">
      <div class="wbdv-recipe-summary-item">
        <span class="value">{{ingredientsCount}}</span>
        <label>Ingredients</label>
      </div>
      <div class="wbdv-recipe-summary-item nutrition">
        <span class="value">{{recipeDetails['numberOfServings']}}</span>
        <label>Servings</label>
      </div>
      <div class="wbdv-recipe-summary-item ">
        <span class="value">{{totalTime}}</span>
        <label>{{totalTimeUnit}}</label>
      </div>
  </div>

  <ul class="list-group wbdv-recipe">
    <li *ngFor="let ingredient of recipeDetails['ingredients']"
        class="list-group-item">
      {{ingredient}}
    </li>
  </ul>
  <button class="btn btn-primary"
          (click)="like()">
    Like
  </button>

  <input class="form-control"
         placeholder = "Rating from 1-5"
         [(ngModel)]="rating">
  <button (click)="rate(rating)"
          class="btn btn-success">
    Rate
  </button>

  <ul class="list-group wbdv-recipe">
    <li *ngFor="let ratedUser of ratedUsers"
        class="list-group-item">
      <a routerLink="/profile/{{ratedUser.user.username}}">{{ratedUser.user.username}}</a>
       {{ratedUser.rating}}
    </li>
  </ul>
</div>
