.container {
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}

.wbdv-recipe {
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}

.wbdv-recipe-summary {
  color: #a3a3a3;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.wbdv-recipe-summary-item {
  position: relative;
  cursor: default;
  display: inline-block;
  width: 33%;
  font-size: 1.125em;
}

.wbdv-recipe-summary-item .value {
  font-family: Helvetica Neue,Roboto Thin,Roboto Light,Roboto,HelveticaNeue Light,Helvetica Neue Light,Segoe UI,sans-serif;
  font-weight: 100;
  font-size: 2.25em;
  color: #e16120;
  margin: 0.1em;
}

.wbdv-ingredients-heading {
  background-color: #343A40;
  color: white;
}

.wbdv-image-wrap {
  display:inline-block;
  position:relative;
}

.wbdv-like-button {
  border-radius: 35px;
  background-color: #F3F3F3;
  position:absolute;
  bottom:10px;
  right:10px;
  width: 60px;
  height: 60px;
}

.wbdv-like-icon {
  color: #343A40;
  font-size: 25px;
}

.wbdv-liked-button {
  border-radius: 35px;
  background-color: #343A40;
  position:absolute;
  bottom:10px;
  right:10px;
  width: 60px;
  height: 60px;
}

.wbdv-liked-icon {
  color: #e16120;
  font-size: 25px;
}
