.container {
  margin-bottom: 20px;
  margin-top: 20px;
}

.wbdv-recipe {
  margin-bottom: 20px;
  margin-top: 20px;
}

.wbdv-recipe-summary {
  background: #f3f3f3;
  color: #a3a3a3;
  padding: 15px;
  text-align: center;
}

.wbdv-recipe-summary-item {
  position: relative;
  cursor: default;
  display: inline-block;
  width: 33%;
  font-size: 20px;
}

.wbdv-recipe-summary-item .value {
  font-family: Helvetica Neue,Roboto Thin,Roboto Light,Roboto,HelveticaNeue Light,Helvetica Neue Light,Segoe UI,sans-serif;
  font-weight: 100;
  font-size: 2.25em;
  color: #e16120;
  margin: 7px;
}

