<app-search-bar></app-search-bar>

<div class="container">
  <div class="row">
    <div class="col-6">
      <img alt="Image not available"
           *ngIf="recipeDetails['imageUrl'] != ''"
           src="{{recipeDetails['imageUrl']}}">
    </div>
    <div class="col-6">
      <h1>
        {{recipeDetails['name']}}
      </h1>
      <h2>Rating: {{recipeDetails['rating']}}</h2>
      <h2>{{recipeId}}</h2>
    </div>
  </div>
  <ul class="list-group wbdv-recipe">
    <li *ngFor="let ingredient of recipeDetails['ingredients']"
        class="list-group-item">
      {{ingredient}}
    </li>
  </ul>
  <button class="btn btn-primary"
          (click)="like()">
    Like
  </button>

  <input class="form-control"
         placeholder = "Rating from 1-5"
         [(ngModel)]="rating">
  <button (click)=""
          class="btn btn-success">
    Rate
  </button>
</div>
