<div class="container-fluid">
  <h1>Profile</h1>

  <input [(ngModel)]="user.username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="user.firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="user.lastName"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="user.email"
         placeholder="email"
         class="form-control"/>
  <button (click)="update(user)"
          class="btn btn-primary btn-block">
    Update
  </button>

  <h2>Liked recipes</h2>
  <ul class="list-group">
    <li *ngFor="let likedRecipe of likedRecipes" class="list-group-item">
      {{likedRecipe.recipe.name}}
    </li>
  </ul>

  <h2>Rated recipes</h2>
  <ul class="list-group">
    <li *ngFor="let ratedRecipe of ratedRecipes" class="list-group-item">
      {{ratedRecipe.recipe.name}}
    </li>
  </ul>

  <a (click)="logout()">Logout</a>
  <a routerLink="/home">Home</a>
</div>
