<nav class="navbar navbar-dark bg-dark justify-content-between wbdv-navbar">
  <h3 class="navbar-brand">Profile</h3>
  <form class="form-inline">
    <button class="btn btn-outline-light my-2 my-sm-0"
            (click)="logout()"
            type="button">
      Logout
    </button>
    <a routerLink="/home">
      <button class="btn btn-outline-light my-2 my-sm-0"
              type="button">
        Home
      </button>
    </a>
    <a routerLink="/admin">
      <button class="btn btn-outline-light my-2 my-sm-0"
              *ngIf="user['role'] === 'Admin'"
              type="button">
        Admin Page
      </button>
    </a>
  </form>
</nav>

<div class="container-fluid wbdv-profile">
  <div class="alert alert-success alert-dismissible fade show"
       role="alert"
       *ngIf="alertSuccess == true">
    Profile updated successfully.
    <button type="button"
            class="close"
            data-dismiss="alert"
            (click)="removeAlert()"
            aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <input [(ngModel)]="user['username']"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="user['firstName']"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="user['lastName']"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="user['email']"
         placeholder="email"
         class="form-control"/>
  <input [(ngModel)]="user['role']"
         placeholder="role"
         class="form-control"/>
  <button (click)="update(user)"
          class="btn btn-primary btn-block">
    Update
  </button>

  <h2>Liked recipes</h2>
  <ul class="list-group">
    <li *ngFor="let likedRecipe of likedRecipes" class="list-group-item">
      {{likedRecipe.recipe.name}}
    </li>
  </ul>

  <h2>Rated recipes</h2>
  <ul class="list-group">
    <li *ngFor="let ratedRecipe of ratedRecipes" class="list-group-item">
      {{ratedRecipe.recipe.name}}
    </li>
  </ul>
</div>

