<nav class="navbar navbar-dark bg-dark justify-content-between wbdv-navbar">
  <h3 class="navbar-brand">Profile</h3>
  <form class="form-inline">
    <button class="btn btn-outline-light my-2 my-sm-0"
            (click)="logout()"
            type="button">
      Logout
    </button>
    <a routerLink="/home">
      <button class="btn btn-outline-light my-2 my-sm-0"
              type="button">
        Home
      </button>
    </a>
    <!--<a routerLink="/admin">-->
    <!--<button class="btn btn-outline-light my-2 my-sm-0"-->
    <!--*ngIf="user['role'] === 'Admin'"-->
    <!--type="button">-->
    <!--Admin Page-->
    <!--</button>-->
    <!--</a>-->
  </form>
</nav>

<div class="container-fluid wbdv-profile">

  <div class="wbdv-nav"
       *ngIf="user.role !== 'Admin'">
    <nav class="nav nav-pills nav-justified">
      <div class="nav-item nav-link"
           [ngClass]="{active: selection === 'Liked Recipes'}"
           (click)="changeSelection('Liked Recipes')">
        Liked Recipes
      </div>
      <div class="nav-item nav-link"
           [ngClass]="{active: selection === 'Rated Recipes'}"
           (click)="changeSelection('Rated Recipes')">
        Rated Recipes
      </div>
      <div class="nav-item nav-link"
           [ngClass]="{active: selection === 'Followers'}"
           (click)="changeSelection('Followers')">
        Followers
      </div>
      <div class="nav-item nav-link"
           [ngClass]="{active: selection === 'Following'}"
           (click)="changeSelection('Following')">
        Following
      </div>
      <div class="nav-item nav-link"
           [ngClass]="{active: selection === 'Update Profile'}"
           (click)="changeSelection('Update Profile')">
        Update Profile
      </div>
      <div class="nav-item nav-link"
           [ngClass]="{active: selection === 'Your Recipes'}"
           *ngIf="user.role === 'Chef'"
           (click)="changeSelection('Your Recipes')">
        Your Recipes
      </div>
    </nav>
  </div>

  <div class="wbdv-nav"
       *ngIf="user.role === 'Admin'">
    <nav class="nav nav-pills nav-justified">
      <div class="nav-item nav-link"
           [ngClass]="{active: selection === 'Manage Users'}"
           (click)="changeSelection('Manage Users')">
        Manage Users
      </div>

      <div class="nav-item nav-link"
           [ngClass]="{active: selection === 'Manage Recipes'}"
           (click)="changeSelection('Manage Recipes')">
        Manage Recipes
      </div>
      <div class="nav-item nav-link"
           [ngClass]="{active: selection === 'Update Profile'}"
           (click)="changeSelection('Update Profile')">
        Update Profile
      </div>
    </nav>
  </div>

  <div class="wbdv-selection"
       *ngIf="selection === 'Liked Recipes'">
    <ul class="list-group">
      <li *ngFor="let likedRecipe of likedRecipes"
          (click)="navigateToRecipe(likedRecipe)"
          class="list-group-item wbdv-liked-recipe">
        {{likedRecipe.recipe.name}}
        <button class="btn btn-warning float-right"
                (click)="unlike(likedRecipe)">
          Unlike
        </button>
      </li>
    </ul>
  </div>

  <div class="wbdv-selection"
       *ngIf="selection === 'Rated Recipes'">
    <ul class="list-group">
      <li *ngFor="let ratedRecipe of ratedRecipes"
          (click)="navigateToRecipe(ratedRecipe)"
          class="list-group-item wbdv-rated-recipe">
        <b>{{ratedRecipe.recipe.name}}</b>

        <div class="wbdv-rated">
          <input type="radio"
                 id="star5a"
                 [ngClass]="{highlight: ratedRecipe.rating === 5}"/>
          <label for="star5a"
                 title="OUTSTANDING">
          </label>
          <input type="radio"
                 id="star4a"
                 [ngClass]="{highlight: ratedRecipe.rating === 4}"/>
          <label for="star4a"
                 title="REALLY GOOD">
          </label>
          <input type="radio"
                 id="star3a"
                 [ngClass]="{highlight: ratedRecipe.rating === 3}"/>
          <label for="star3a"
                 title="JUST GOOD">
          </label>
          <input type="radio"
                 id="star2a"
                 [ngClass]="{highlight: ratedRecipe.rating === 2}"/>
          <label for="star2a"
                 title="SO SO">
          </label>
          <input type="radio"
                 id="star1a"
                 [ngClass]="{highlight: ratedRecipe.rating === 1}"/>
          <label for="star1a"
                 title="DIDN'T LIKE IT">
          </label>
        </div>

        <div class="wbdv-review">{{ratedRecipe.review}}</div>

      </li>
    </ul>
  </div>

  <div class="wbdv-selection"
       *ngIf="selection === 'Followers'">
    <ul class="list-group">
      <li *ngFor="let follower of followers"
          (click)="navigateToFollowerProfile(follower)"
          class="list-group-item wbdv-follower">
        {{follower.from.username}}
      </li>
    </ul>
  </div>

  <div class="wbdv-selection"
       *ngIf="selection === 'Following'">
    <ul class="list-group">
      <li *ngFor="let following of followings"
          (click)="navigateToFollowingProfile(following)"
          class="list-group-item wbdv-following">
        {{following.to.username}}
        <button class="btn btn-warning float-right"
                (click)="unfollow(following)">
          Unfollow
        </button>
      </li>
    </ul>
  </div>

  <div class="wbdv-selection"
       *ngIf="selection === 'Update Profile'">
    <div class="alert alert-success alert-dismissible fade show"
         role="alert"
         *ngIf="alertSuccess == true">
      Profile updated successfully.
      <button type="button"
              class="close"
              data-dismiss="alert"
              (click)="removeAlert()"
              aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="form-group">
      <label>Username</label>

      <input readonly
             [(ngModel)]="user['username']"
             placeholder="username"
             class="form-control"/>
    </div>

    <div class="form-group">
      <label>First Name</label>
      <input [(ngModel)]="user['firstName']"
             placeholder="first name"
             class="form-control"/>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input [(ngModel)]="user['lastName']"
             placeholder="lastName"
             class="form-control"/>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input [(ngModel)]="user['email']"
             placeholder="email"
             class="form-control"/>
    </div>

    <div class="form-group">
      <label>Role</label>
      <input readonly
             [(ngModel)]="user['role']"
             placeholder="role"
             class="form-control"/>
    </div>

    <button (click)="update(user)"
            class="btn btn-dark btn-block">
      Update
    </button>
  </div>

  <div class="wbdv-selection"
       *ngIf="selection === 'Your Recipes'">

    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title"
            *ngIf="!newRecipe._id">
          Create your own recipe
        </h4>
        <h4 class="modal-title"
            *ngIf="newRecipe._id">
          Update your own recipe
        </h4>
        <button type="button"
                class="close"
                aria-label="Close"
                (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Recipe Name</label>
          <input [(ngModel)]="newRecipe.name"
                 placeholder="recipe name"
                 class="form-control"/>
        </div>

        <div class="form-group">
          <label>Ingredients (Add each ingredient on a new line)</label>
          <textarea [(ngModel)]="newRecipe.ingredients"
                    placeholder="ingredients"
                    class="form-control">
      </textarea>
        </div>

        <div class="form-group">
          <label>ImageUrl (Provide 360x360 image size for quality user experience)</label>
          <input [(ngModel)]="newRecipe.imageUrl"
                 placeholder="image url of recipe"
                 class="form-control"/>
        </div>

        <div class="form-group">
          <label>Total time required</label>
          <input [(ngModel)]="newRecipe.totalTime"
                 placeholder="total time required"
                 class="form-control"/>
        </div>

        <div class="form-group">
          <label>Number of Servings</label>
          <input [(ngModel)]="newRecipe.numberOfServings"
                 placeholder="number of servings"
                 class="form-control"/>
        </div>

        <button (click)="createRecipe()"
                *ngIf="!newRecipe._id"
                class="btn btn-dark btn-block">
          Add
        </button>
        <button (click)="updateRecipe()"
                *ngIf="newRecipe._id"
                class="btn btn-dark btn-block">
          Update
        </button>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-light"
                (click)="c('Close click')">
          Close
        </button>
      </div>
    </ng-template>

    <button class="btn btn-dark btn-block mb-2 mr-2"
            (click)="openAddModal(content)">
      Add a recipe
    </button>

    <ul class="list-group">
      <li class="list-group-item wbdv-created-recipe"
          *ngFor="let recipe of createdRecipes"
          (click)="navigateToEzeRecipe(recipe)">
        {{recipe.name}}
        <button (click)="deleteRecipe(recipe)"
                class="btn btn-danger fa fa-trash float-right">
        </button>
        <button (click)="openEditModal(content, recipe)"
                class="btn btn-primary fa fa-pencil float-right">
        </button>
      </li>
    </ul>
  </div>
</div>

