.list-group.wbdv-project {
  margin-top: 15px;
}

.wbdv-chefs-special {
  margin-top: 15px;
}

.wbdv-pagination-button {
  margin: 15px;
}

img {
  margin-right: 5px;
}

.wbdv-group-item {
  cursor: pointer;
}

.wbdv-pagination-component {
  text-align: center;
}
