<app-search-bar></app-search-bar>

<div class="container">
  <div>
    <ul class="list-group wbdv-project">
      <li *ngFor="let result of results"
          class="list-group-item">
        {{result['recipeName']}}
      </li>
    </ul>
  </div>

  <div style="text-align: center"
       *ngIf="results.length > 0">
    <button type="button"
            (click)="search(searchText, currentPage - 1)"
            [ngClass]="{'disabled':currentPage == firstPage}"
            class="btn btn-primary wbdv-pagination-button">
      Previous
    </button>
    {{currentPage}}
    <button type="button"
            (click)="search(searchText, currentPage + 1)"
            [ngClass]="{'disabled':currentPage == lastPage}"
            class="btn btn-primary wbdv-pagination-button">
      Next
    </button>
  </div>
</div>

