<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <input type="text"
               class="form-control"
               [(ngModel)]="searchInput"
               placeholder="Search for meals"
               (keyup.enter)="search(searchInput)"/>
        <button type="button"
                (click)="search(searchInput)"
                class="btn btn-primary">
          <span class="fa fa-search"></span>
        </button>
      </div>
    </div>
  </div>

  <div>
    <ul class="list-group wbdv-project">
      <li *ngFor="let result of results"
          class="list-group-item">
        {{result['recipeName']}}
      </li>
    </ul>
    <h2>{{results.length}}</h2>
  </div>
</div>
