<app-search-bar></app-search-bar>

<div class="wbdv-top-bottom-container">

  <mdb-carousel [interval]="3000"
                [isControls]="true"
                class="carousel slide"
                [noPause]="true"
                [type]="'carousel-thumbnails'"
                [animation]="'slide'">

    <mdb-slide *ngFor="let slide of slides">
      <div class="view">
        <img class="d-block w-100 img-fluid"
             src="{{slide.imageSrc}}">
        <div class="mask rgba-black-light waves-light"
             mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">{{slide.mainHeading}}</h3>
        <p>{{slide.subHeading}}</p>
      </div>
    </mdb-slide>

  </mdb-carousel>

</div>

<div class="container wbdv-top-bottom-container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
