.list-group.wbdv-profile {
  margin-top: 20px;
}

.btn.btn-outline-light {
  margin-right: 5px;
}

.btn.btn-success.wbdv-follow {
  margin-left: 15px;
}

.btn.btn-warning.wbdv-unfollow {
  margin-left: 15px;
}

.container-fluid.wbdv-profile {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
}

.wbdv-nav {
  margin-top:20px;
  background-color: white;
  cursor: pointer;
}

.wbdv-nav .active {
  background-color: #343A40;
}

.wbdv-selection {
  margin-top: 30px;
  margin-bottom: 30px;
}

.center {
  text-align: center;
  width: 45px;
  height: 45px;
  margin-left: 10px;
}

.wbdv-user-info-component {
  text-align: center;
  margin-top:20px;
  width: 90%;
  font-size: 25px;
}

.list-group-item.wbdv-liked-recipe {
  cursor: pointer;
}

.list-group-item.wbdv-rated-recipe {
  cursor: pointer;
}

.list-group-item.wbdv-follower {
  cursor: pointer;
}

.list-group-item.wbdv-following {
  cursor: pointer;
}

a.wbdv-username-anchor{
  color: white;
}
