<nav class="navbar navbar-dark bg-dark justify-content-between wbdv-navbar">
  <h3 class="navbar-brand">{{user.username}}</h3>
  <form class="form-inline">
    <a routerLink="/home">
      <button class="btn btn-outline-light my-2 my-sm-0"
              type="button">
        Home
      </button>
    </a>
  </form>
</nav>

<div class="container-fluid">
  <button class="btn btn-warning"
          (click)="follow()">
    Follow
  </button>

  <h2>Liked recipes</h2>
  <ul class="list-group">
    <li *ngFor="let likedRecipe of likedRecipes" class="list-group-item">
      {{likedRecipe.recipe.name}}
    </li>
  </ul>

  <h2>Rated recipes</h2>
  <ul class="list-group">
    <li *ngFor="let ratedRecipe of ratedRecipes" class="list-group-item">
      {{ratedRecipe.recipe.name}}
    </li>
  </ul>

  <h2>Followers</h2>
  <ul class="list-group">
    <li *ngFor="let follower of followers" class="list-group-item">
      {{follower.from.username}}
    </li>
  </ul>

  <h2>Following</h2>
  <ul class="list-group">
    <li *ngFor="let following of followings" class="list-group-item">
      {{following.to.username}}
    </li>
  </ul>
</div>


